body{
    background-color:rgb(114, 110, 182);
    text-align:center;
    padding:2rem;
}

.player-container{
    margin:2rem auto;
    gap:2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    width:50%;
    background-color: rgb(170, 175, 219);
}

.player{
    padding: 20px;
}

#score_div{
    background-color: rgb(230, 229, 208);
    width:50%;
    text-align: center;
    margin:auto;
}

/* add to your CSS */
.emoji {
    position: fixed;
    top: -2rem;
    font-size: 2rem;
    animation: fall linear forwards;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
      opacity: 0;
    }
  }
  